{% extends 'index.html' %}

{% load static %}

{% block contenido %}

    <div>
        <h3>{{ pokemon.nombre | safe }}</h3>
        <br>
        <div>
            Vida: {{ pokemon.vidaBase | safe }}
            Ataque: {{ pokemon.ataqueBase | safe }}
            Defensa: {{ pokemon.defensaBase | safe }}
            Ataque Especial: {{ pokemon.ataqueEspecialBase  | safe }}
            Defensa Especial: {{ pokemon.defensaEspecialBase | safe }}
            Velocidad: {{ pokemon.velocidadBase | safe }}
        </div>
        <br>
        <div>
            {% for movimiento in pokemon.movimientos.all %}
                {{ movimiento.nombre }}

            {% endfor %}
        </div>
    </div>

{% endblock %}