{% extends 'index.html' %}

{% load static %}

{% block contenido %}

    <div>
        <h3>{{ movimiento.nombre | safe }}</h3>
        <br>
        <div>
            {{ movimiento.tipo | safe }}
            {{ movimiento.potencia | safe }}
            {{ movimiento.precision | safe }}
        </div>
        <br>
        <div>
            {% for pokemon in movimiento.pokemons.all %}
                {{ pokemon.nombre }}
                <br>
            {% endfor %}
        </div>
    </div>

{% endblock %}