{% extends 'index.html' %}

{% load static %}

{% block contenido_principal %}

    <div class="container">

        <div class="contenedorHorizontal">

            <div class="contenedorTextoVertical col p-1">
                <h5>Nombre</h5> <h6>{{ movimiento }}</h6>
            </div>

            <div class="contenedorTextoVertical col p-1">
                <h5>Tipo</h5> <h6>{{ movimiento.tipo }}</h6>
            </div>

            <div class="contenedorTextoVertical col p-1">
                <h5>Potencia</h5> <h6>{{ movimiento.potencia }}</h6>
            </div>

            <div class="contenedorTextoVertical col p-1">
                <h5>Precision</h5> <h6>{{ movimiento.precision }}</h6>
            </div>
            
        </div>
        
        <br>

        <div class="container">

            <div class="contenedor">
                <h5>Pokemons que saben usar {{ movimiento }}</h5>
            </div>

            {% for especie in movimiento.especiepokemon_set.all %}
            <img class="img" src="data:image/png;base64,{{ especie.obtenerImagenFrente}}" alt="{{ especie }}">
            {% endfor %}

        </div>

    </div>

{% endblock %}