{% extends 'index.html' %}

{% load static %}

{% block contenido %}

    <div>
        <h3>{{ especie.nombre }}</h3>
        <img src="data:image/png;base64,{{ especie.obtenerImagenFrente }}" alt="{{ especie.nombre }}">
        <br>
        <div>
            Vida: {{ especie.vidaBase }}
            Ataque: {{ especie.ataqueBase }}
            Defensa: {{ especie.defensaBase }}
            Ataque Especial: {{ especie.ataqueEspecialBase }}
            Defensa Especial: {{ especie.defensaEspecialBase }}
            Velocidad: {{ especie.velocidadBase }}
        </div>
        <br>
        <div>
            {% for movimiento in especie.movimientos.all %}
                {{ movimiento.nombre }}

            {% endfor %}
        </div>
    </div>

{% endblock %}