{% extends 'index.html' %}

{% load static %}

{% block contenido %}

    <div class="container">

    <h2>Crea tu equipo</h2>

    <form id="formularioCrearEquipo" method="post">
        {% csrf_token %}
        <div id="contenedorPrincipal">

            <div id="contenedorPokemon">
                <input id="busquedaPokemon" type="text">
                <select id="opcionesPokemon"></select>
                <button id="agregarPokemon" type="button">Agregar Pokemon</button>
            </div>
            
            <br>
        </div>

        <div>
            <button type="submit" class="btn-primary" id="botonGuardarEquipo" >Crear Equipo</button>
        </div>

    </form>

    </div>

    <script type="module" src="{% static 'solicitudesAJAX.js' %}"></script>
    <script type="module" src="{% static 'creacionDeEquipos.js' %}"></script>


{% endblock %}