{% extends 'index.html' %}

{% load static %}

{% block contenido_principal %}

    <div class="contenedor">
        <h3>Creá tu equipo</h3>
    </div>

    <div class="contenedorAnchoMediano fondo2 border round">

        <form id="formularioCrearEquipo" method="post">

            {% csrf_token %}


                <input id="eleccionDeNombreDeEquipo" type="text" placeholder="Nombre de Equipo">

                <div id="contenedorBusquedaDePokemons">
                    
                    <input id="busquedaPokemon" type="text" placeholder="Nombre de Pokemon">
                    <select id="opcionesPokemon"></select>
                    <button id="agregarPokemon" type="button">Agregar Pokemon</button>
                    
                </div>
                

                <button type="submit" class="btn-primary" id="botonGuardarEquipo" >Crear Equipo</button>

        </form>

    </div>

    <script type="module" src="{% static 'js/solicitudesEquipos.js' %}"></script>
    <script type="module" src="{% static 'js/creacionDeEquipos.js' %}"></script>
    <script type="module" src="{% static 'js/funcionesAuxiliares.js' %}"></script>



{% endblock %}