{% extends 'index.html' %}

{% load static %}

{% block contenido %}

    <h2>Crea tu equipo</h2>

    <form id="formularioCrearEquipo" method="post">
        {% csrf_token %}
        <div id="contenedorPrincipal">

            <div id="contenedorPokemon">
                <input id="busquedaPokemon" type="text" >
                <select id="opcionesPokemon"></select>
                <button id="agregarPokemon" type="button" >Agregar Pokemon</button>
            </div>
            
            <br>

            <div>
                <button type="button" id="botonGuardarEquipo" >Crear Equipo</button>
            </div>

            <br>
        </div>

    </form>

    <script type="module" src="{% static 'solicitudesAJAX.js' %}"></script>
    <script type="module" src="{% static 'agregarPokemonAEquipo.js' %}"></script>


{% endblock %}