{% extends 'index.html' %}

{% load static %}

{% block contenido %}

<div class="container text-center" >

    {% for equipo in usuario.equipopokemon_set.all %}

    <div class="row border p-2">

        <h3>Equipo {{ equipo.id }}</h2>

                {% for pokemon in equipo.pokemon_set.all %}

                <div class="col border p-2">

                    <h5>{{ pokemon.nombre }}</h5>
                    <img src="data:image/png;base64,{{ pokemon.especie.obtenerImagenFrente }}" alt="{{ pokemon.nombre }}">

                </div>

                {% endfor %}

    </div>

        <br>

    {% empty %}

        <h2>Todavía no tenés ningún equipo</h2>
        <a href="{% url 'Equipos:crearEquipo' %}"> Creá tu Equipo </a>

    {% endfor %}

</div>

{% endblock %}