{% extends 'index.html' %}

{% load static %}

{% block equipos %}

<div id="contenedorEquipos" class="contenedor text-center" >

    {% for equipo in usuario.equipopokemon_set.all %}

        <div class="row p-1 contenedorAnchoMediano rounded border" data-equipo-id="{{ equipo.id }}">

            <h4> {{ equipo.nombre }} </h4>

                    {% for pokemon in equipo.pokemon_set.all %}

                        <div id="contenedorPokemon" class="contenedorAnchoMediano fondo1">

                            <h5>{{ pokemon.obtenerNombre }}</h5>
                            <img src="data:image/png;base64,{{ pokemon.especie.obtenerImagenFrente }}" alt="{{ pokemon }}">

                        </div>

                    {% endfor %}

        </div>

    
    {% empty %}

        
            <div class="contenedor">
            
                <h2>Todavía no tenés ningún equipo</h2>

            </div>

            <div class="contenedor">

                <button id="botonDeRedireccionACreacionDeEquipos" class="btn-primary"> Creá tu primer Equipo </button>

            </div> 

        
            <script type="module" src="{% static 'js/listadoDeEquipos.js' %}"></script>

    {% endfor %}


</div>


{% endblock %}