{% extends 'index.html' %}

{% load static %}

{% block contenido %}

    <div>
    <h2 id="tituloBatalla" data-id="{{ id }}" >Sala de Batalla #{{ id }}</h2>

        <br>

        <form id="formularioDePrueba">

            <input type="text" name="contenido">

        </form>

    </div>
    
    <br>

    <div class="container border" id="contenedorMensajes">
        <h3 class="text center">Chat</h3>
    </div>

    <script type="module" src="{% static 'websocketsBatallas.js' %}"></script>

{% endblock %}